<nav class="navbar navbar-expand-lg navbar-light " style="margin-bottom: 4em;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Abalone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/history">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/followed">Followed</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search player" aria-label="Search">
                    </form>
                </li>
            </ul>
            <ul class="d-flex navbar-nav  mb-2 mb-lg-0">

                <% if(info.id == -1){ %> 
                    <li class="nav-item">
                        <a href="/login" class="btn btn-primary">Login/Register</a>
                    </li>
                <% }else{%>
                    <li class="nav-item">
                        <a class="nav-link active"><%= info.user %></a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/disconnect" class="btn btn-outline-danger">Disconnect</a>
                    </li>
                <% } %> 
            </ul>
        </div>
    </div>
</nav>