<div class="container">
    <h1>Game</h1>
    <div id="gamearea"></div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js" integrity="sha512-NxocnqsXP3zm0Xb42zqVMvjQIktKEpTIbCXXyhBPxqGZHqhcOXHs4pXI/GoZ8lE+2NJONRifuBpi9DxC58L0Lw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../abalone/Hexagone.js"></script>
<script src="../abalone/HexaButton.js"></script>
<script src="../abalone/Geometrie.js"></script>
<script src="../abalone/Function.js"></script>
<script src="../abalone/Abalone_Js.js"></script>

