<main class="container">
    <div class="row">
        <h1 class="display-1">Game list</h1>
    </div>
    <div class="d-flex">
        <div class="" style="margin-left: auto;">
            <a href="/new" id="newgamebtn" class="btn btn-lg btn-success"><i class=" bi bi-plus-square"></i></a>
        </div>
    </div>
    <br>
    <div class="row">
        <table class="table table-hover table-borderless ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Player 1</th>
                <th scope="col">Player 2</th>
                <th scope="col">Join</th>
              </tr>
            </thead>
            <tbody>
                <% let count = 0 %>
                <% opt.games.forEach((gameInfo,index) => { %>
                    <% count += 1 %>
                    <tr>
                        <th scope="row"><%= count %></th>
                        <td><%= gameInfo.player1 %></td>
                        <td><%= gameInfo.player2 %></td>
                        <% if(gameInfo.player2 == ""){%>
                        <td>
                            <a href="/join/<%= gameInfo.id %>" class="btn btn-secondary"><i class="bi bi-box-arrow-in-right"></i></a>
                        </td>
                        <% } else {%>
                            <td>
                                <i class="bi bi-lock"></i>
                            </td>
                        <% }%>
                    </tr>

                <% }) %>
              
            </tbody>
          </table>
    </div>
</main>